*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin: auto;
    width: 50%;
    height: 100vh;
    border: 3px solid green;
    padding: 10px;
    
  }

header{
    text-align: center;
    padding-top: 20px;
    font-size: 26px;
}