* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* height: 100vh; */
    /* background-image: url("../images/ghana-g87ba00fd5_1920.jpg"); */
}
.home{
    background-image: url("../images/cape-coast-g98b3303da_1920.jpg");
    height: 100vh;
    width: 100%;
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }



.short{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.short h2{
    font-size: 60px;
    font-weight: 900;
}
.short button{
    font-size: 27px;
    padding: 20px 20px;
    border-radius: 20px;
    margin-top: 20px;

}
.short button:hover{
    background-color: black;
    color: white;
    transition: 3s;
}
/* about */

.about{
    display: flex;
    /* padding: 200px 150px; */
    padding-top: 200px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;
}
.row{
    width: 50%;
}
.row img{
width: 100%;
}
.row h2{
    text-align: center;
    font-size: 33px;
}
.row p{
    font-size: 27px;
    padding: 40px 20px;
    text-align: justify;

}
.cont{
    padding-bottom: 40px;
}
/* table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .table{
    padding: 0 40px;

  }
  .table h2{
      padding: 20px 0;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  /* palarrax */
  .parallax {
    background-image: url("../images/cloth-g3ca927c26_1920.jpg");
    background-size: 100%;
    background-attachment: fixed;

}

.parallax-inner {
    padding-top: 5%;
    padding-bottom: 5%;

}
.col-3{
    width: 100%;
}
.col-3 h2{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: white;
}
.cont-parallax{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
#row-parallax h2,
h3 {
    color: white;
    font-size: 29px;
    justify-content: space-around;
    padding-top: 20px;
}
#row-parallax {
    justify-content: space-around;
    justify-content: space-evenly;
    display: flex;
}
.parallax h4{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-weight: 900;
}

/* form */
.container {
    padding-top: 200px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;
    /* margin: auto;
    width: 50%; */
    padding-top: 100px;
    border: 3px solid green;
    /* padding: 10px; */
    /* background: rgba(46, 44, 43, 0.5);  */


}
header {
    text-align: center;
    padding-top: 20px;
    font-size: 26px;
    color: rgb(0, 0, 0);
}

Form {
    width: 100%;
    /* background-color: tomato; */
    text-align: center;
    /* background-color: rgb(255, 255, 255); */
}

.item-inputs {
    padding: 20px 0;
    /* background-color: white; */
}

.item-inputs p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.item-inputs input {
    font-size: 15px;
    width: 60%;
    height: 6vh;
    font-weight: 900;

}
.check{
    padding-left: 10px;
}
.check label {
    font-size: 22px;
    padding-left: 6px;

}
.submiting{
    padding: 17px 0;
}
.submiting input {
    font-size: 20px;
    width: 20%;
    padding: 10px 10px;
    background-color: rgb(36, 95, 9);
    color: white;
}


.section{
    padding-top: 50px;
}

footer p{
    font-size: 20px;
    color: white;
    text-align: center;
}
footer{
    background-color: black;
}

